<?xml version="1.0" ?>
<openbox_menu>
  <menu id="root-menu" label="DAOS Menu">
    <item label="Terminal"><action name="Execute" command="foot" /></item>
    <item label="File Manager"><action name="Execute" command="pcmanfm" /></item>
    <item label="Text Editor"><action name="Execute" command="l3afpad" /></item>
    <item label="Firefox"><action name="Execute" command="firefox" /></item>
    <separator />
    <item label="Reconfigure Window Manager"><action name="Reconfigure" /></item>
  </menu>
</openbox_menu>
